.auth-card{
  border: grey solid 1px;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem auto;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 10px;
}
.auth-title{
 font-size: 2rem;
 margin-bottom: 1rem;
}
.input{
  width: 100%;
  margin: 10px auto;
  border: grey solid 1px;
  padding: 10px;
  
}

.btn{
  padding: 0.5rem 0;
  border: none;
  width: 100%;
  margin: 1rem auto;
  cursor: pointer;
  transition: 0.5s;
  background : limegreen;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  &:hover{
    transform: scale(0.98);
    background-color: rgb(32, 140, 11);
  }
}
.btn-disable{
  background: grey;
  &:hover{
    background-color: grey;
  }
}
.red-text{
  color: red;
}